.process{
  &__list{
  display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  &__accordion{
    padding: 40px 60px;
    background-color: var(--color-gray);
    border: var(--border);
    border-radius: var(--border-radius-large);
    box-shadow: var(--shadow);
    transition-duration: var(--transiiton-duration);

    @include hover{
      background-color: var(--color-accent);
    }

    &[open]{
      background-color: var(--color-accent);
    }

    &-header{

    }
  }
}